
Add/obj/Debug/Add.csproj.FileListAbsolute.txt

Add/obj/Debug/Add.dll

Add/obj/Debug/Add.pdb

Add/obj/Debug/DesignTimeResolveAssemblyReferences.cache

Add/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

Bin/Debug/Calculators/Add.dll

Bin/Debug/Calculators/Add.pdb

Bin/Debug/Calculators/Substract.dll

Bin/Debug/Calculators/Substract.pdb

Bin/Debug/DynaDLLMain.exe

Bin/Debug/DynaDLLMain.pdb

Bin/Debug/DynaDLLMain.vshost.exe

Bin/Debug/DynaDLLMain.vshost.exe.manifest

DynaDLLMain/bin/Debug/DynaDLLMain.vshost.exe.manifest

DynaDLLMain/obj/Debug/DesignTimeResolveAssemblyReferences.cache

*.cache

DynaDLLMain/obj/Debug/DynaDLLMain.csproj.FileListAbsolute.txt

*.exe

DynaDLLMain/obj/Debug/DynaDLLMain.Form1.resources

*.pdb

DynaDLLMain/obj/Debug/DynaDLLMain.Properties.Resources.resources

Substract/obj/Debug/Substract.dll

Substract/obj/Debug/Substract.csproj.FileListAbsolute.txt
